* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(44, 58, 85);
}

#header{
    border: 1px solid red;
    width: 100%;
    height: 100px;
}

#bodycontainer2{
    border: 1px solid yellow;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

#menu{
    border: 1px solid pink;
    width: 15%;
    background-color: pink;
}

#listcontainer{
    border: 1px solid green;
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#getallemps{
    width: 200px;
}

#list{
    border: 1px solid rgb(78, 2, 2);
    background-color: rgb(107, 3, 3);
    height: 75%;
}

#listui{ 
    border: 1px solid purple;
    background-color: purple;
}