* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'VT323', monospace;
    color: lime;
    
}

body {
    background-color: rgb(0, 0, 0);
    /* min-width: 2039px; */
    overflow-x:hidden;
    font-weight: bold;
    color: lime;
    
}
::selection{
    background: rgb(3, 95, 3);
}
body, button, input, label, straggler{
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: textShadow 2.5s infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: textShadow;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}
/* Button and placeholder font rules */
button{
    font-family: 'VT323', monospace;
    background-color: rgb(0, 0, 0);
    color: lime;
    box-shadow: none;
    border: none;
    text-align: center;
}
::placeholder{font-family: 'VT323', monospace;}

pre{
    white-space: word-wrap;
    font-family: 'VT323', monospace;
}

.menubutton{
    width: 100%;
}

.hidden{
    display: none;
}

#header{
    width: 100%;
    height: 180px;
    color: lime;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    align-items: left;
    top: 0;
    z-index: 1000;
    font-family: 'VT323', monospace;
}
#line{
    width:100%;
    height:15px;
    font-size: 1.3em;
    font-weight: bold;
}
#bodycontainer2{
    
    width: 85%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}
#depresp{
    font-size: 1.3rem;
    text-wrap: wrap;
    min-width: 100px;
}
#menu{
    margin-left: 5px;
    width: 275px;
    background-color: black;
    text-align:left;
    align-items: left;
}
#welcome{
    font-size: 1.2em;
}
#listcontainer{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    overflow-y:scroll;
}
::-webkit-scrollbar{
    width:20px;
}
::-webkit-scrollbar-thumb{
    border: 3px dashed lime;
    
}

#getallemps{
    width: 100%;
}
.nowrap{
    text-wrap:nowrap;
    overflow-x: hide;
}
#list{
    background-color: rgb(0, 0, 0);
    height: 75%;
    color: lime;
    overflow-y: scroll;
}

#listui{ 
    background-color: black;
}

#getallemps {
    background-color: black;
    color: lime;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    width: 100%;
    text-align: left;
    text-wrap:nowrap;
}

#getalldepts {
    background-color: black;
    color: lime;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    width: 100%;
    text-align: left;
    text-wrap:nowrap;
}
#clickhere:hover{
    color:white;
    cursor:pointer;
}
#getallemps:hover{
    color: rgb(255, 255, 255);
}
#getalldepts:hover{
    color: rgb(255, 255, 255);
}
button:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#listEmpID{
    font-size: 1.5em;
    font-weight: bold;
}

#listEmpName{
    font-weight: bold;
}
#empName{
    font-weight: bold;
    font-size: 1.3rem;
}
#listSkills{
    font-weight: bold;
}

.expungeButton{
    font-size: 1.2rem;
}
.editButton{
    font-size: 1.2rem;
}
input{
    background-color: black;
    border-bottom: 2px dashed transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    /* animation: blink 3s infinite linear; */
    color: lime;
    font-family: 'VT323', monospace;
}

label{
    font-size: 1.3rem;
}
#stopEdit{
    font-size: 1.3rem;
}

/* BELOW IS A CURSED PLACE, TURN BACK WHILE YOU CAN! */
/* KEYFRAMES */

@keyframes blink {
    100% {
      border-color: transparent;
    }
    50%, 0% {
      border-color: green;
    }
  }
@keyframes textShadow{
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}